.access-container {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 60px;
    overflow: hidden;

    .bg-svg-left,
    .bg-svg-right {
        position: absolute;
        height: 100vh;
        z-index: 0;
        display: flex;
        transition: 0.2s ease-in-out all;

        svg {
            height: 100vh !important;
        }
    }


    .bg-svg-left {
        background-position: left center;
        left: 0;
        justify-content: flex-start;

        svg path {
            stroke-dasharray: 500;
            animation: dash 3s linear infinite;
            background-size: contain;
        }


        @media only screen and (max-width: 768px) {
            justify-content: center;
            align-items: center;
            transform: rotate(90deg);
            width: 100%;
            height: 90vw;

            svg {
                height: 90vw !important;
            }
        }

    }

    .bg-svg-right {
        background-position: right center;
        right: 0;
        justify-content: flex-end;

        svg path {
            stroke-dasharray: 500;
            animation: dash 3s linear infinite;
            animation-delay: -1s;
        }

        @media only screen and (max-width: 768px) {
            display: none;
        }

    }

    .access-header {
        padding: 2rem;
        font-size: 6rem;
        text-align: center;
        z-index: 3;

        @media only screen and (max-width: 768px) {
            font-size: 3rem;

        }
    }



    .access-row {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .text-muted {
            margin-top: 1rem;
            padding: 0.2rem 0.2rem;
            color: rgba($color: $secondary-bg, $alpha: 0.5);
            transition: 0.3s ease-in-out all;
        }

        .input-box {
            padding: 1rem 2rem;
            font-size: 1.6rem;
            background-color: transparent;
            border: 2px solid $secondary-bg;
            color: $secondary-bg;
            z-index: 3;

            &:focus {
                outline: none;
            }


            @media only screen and (max-width: 768px) {
                & {
                    font-size: 1rem;
                    padding: 1rem;
                }

            }
        }
    }
}


@keyframes dash {
    to {
        stroke-dashoffset: 1000;
    }
}