* {
    padding: 0;
    margin: 0;

}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html,
body {
    overflow: hidden;
    background-color: $primary-bg;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: $main-font;
    width: 100vw;
    height: 100vh;
}

a {
    text-decoration: none;
    color: inherit;
}

.icons {
    transition: 0.4s ease-in-out;
    opacity: .4;

    &:hover {
        opacity: 1;
    }
}

.red-text {
    color: $primary-text;
    text-decoration-color: $primary-text;

}


.page {
    transition: 0.4s ease-in-out all;



}

.page-enter {
    transform: scale(1.6);
    opacity: 0;
    filter: blur(1px);

}

.page-enter-active {
    transform: scale(1);
    transition: 0.6s all;
    transition-delay: 0.5s;
    opacity: 1;
}

.page-exit {
    transform: scale(1);
    opacity: 1;

    .navbar {
        top: 0;
    }
}

.page-exit-active {
    transform: scale(0.1);
    transition: 0.6s all;
    opacity: 0;

    .navbar {
        top: -400px;
    }
}