@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');

$main-font : 'Source Sans Pro',
sans-serif;

$primary-bg : #1b1b1b;
$secondary-bg : #fbf5eb;
$primary-text : #f0473e;