.dashboard-container {
    background: $secondary-bg;

    .dashboard-content {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        padding: 60px 1rem;


        .dashboard-header {
            font-size: 4rem;
            padding: 1.2rem;
            color: $primary-bg;

            @media only screen and (max-width: 768px) {
                font-size: 3rem;
            }
        }

        .options {
            width: 100%;
        }
    }
}