.dashboard-container {
    background: $secondary-bg;
    height: auto;

    .dashboard-content {
        display: flex;
        flex-direction: column;
        height: 100vh;
        height: 100%;
        padding: 60px 1rem;
        max-height: 100vh;
        width: 80%;

        @media only screen and (max-width: 768px) {
            width: 100%;
        }

        .dashboard-header {
            font-size: 3rem;
            padding: 1.2rem;
            color: $primary-bg;

            @media only screen and (max-width: 768px) {
                font-size: 3rem;
            }
        }

        .options {
            width: 100%;
        }
    }
}