.option-card {
    background: linear-gradient(333deg, rgba(27, 27, 27, 1) 36%, rgba(240, 71, 62, 1) 100%);
    background-color: $primary-text;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1.2rem;

    h1 {
        margin: 0.5rem 0;
    }

    // .option-button {
    //     border: 2px solid $secondary-bg;
    //     margin: 1rem 0;
    //     width: 10rem;
    //     font-size: 1.2rem;
    //     padding: 0.4rem 1rem;
    //     background: transparent;
    //     color: $secondary-bg;
    //     cursor: pointer;
    //     transition: 0.2s ease-in-out all;

    //     &:hover {
    //         background: $secondary-bg;
    //         color: $primary-bg;
    //     }
    // }

    .buttons {
        margin-top: 2rem;
        margin-bottom: 1rem;

        text-align: left;
    }
}



$borderW : 2px;

.option-button {
    $numOfBlobs: 4;
    z-index: 1;
    text-decoration: none;
    position: relative;
    padding: 0.4rem 1rem;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
    color: $secondary-bg;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: transparent;
    outline: none;
    border: none;
    transition: color 0.5s;
    cursor: pointer;

    &:before {
        content: "";
        z-index: 1;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border: $borderW solid $secondary-bg;
        transition: 0.2s ease-in-out all;
    }

    &:after {
        content: "";
        z-index: -2;
        position: absolute;
        left: $borderW*1.5;
        top: $borderW*1.5;
        width: 100%;
        height: 100%;

        transition: all 0.3s 0.2s;
    }

    &:hover {
        color: $primary-bg;

        &:before {
            border: $borderW solid $secondary-bg;
        }

        &:after {
            transition: all 0.3s;
            left: 0;
            top: 0;
        }
    }

    &__inner {
        z-index: -1;
        overflow: hidden;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: transparent;
    }

    &__blobs {
        position: relative;
        display: block;
        height: 100%;
        filter: url('#goo');
    }

    &__blob {
        position: absolute;
        top: $borderW;
        width: 100% / $numOfBlobs;
        height: 100%;
        background: $secondary-bg;
        border-radius: 100%;
        transform: translate3d(0, 150%, 0) scale(1.7);
        transition: transform 0.45s;

        @supports(filter: url('#goo')) {
            transform: translate3d(0, 150%, 0) scale(1.4);
        }

        @for $i from 1 through $numOfBlobs {
            &:nth-child(#{$i}) {
                left: ($i - 1) * (120% / $numOfBlobs);
                transition-delay: ($i - 1) * 0.08s;
            }
        }

        .option-button:hover & {
            transform: translateZ(0) scale(2);

            @supports(filter: url('#goo')) {
                transform: translateZ(0) scale(2);
            }

            &__inner {
                background: $secondary-bg;
            }
        }
    }

}