.posts-container {
    height: auto;
    min-height: 100vh;

    .posts-content {

        max-height: calc(100vh);
        width: 100%;
        min-height: 100vh;
        height: 100%;
        padding: 60px 1rem;


        .posts-header {
            font-size: 3rem;
            padding: 1.2rem;

            @media only screen and (max-width: 768px) {
                font-size: 2rem;
            }

        }

        .card-container {
            overflow-x: hidden;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

    }
}