.stocks-container {
    height: auto;
    min-height: 100vh;

    .stocks-content {
        max-height: calc(100vh - 60px);
        width: 100%;
        min-height: calc(100vh - 60px);
        height: 100%;
        margin-top: 60px;
        padding: 0 1rem;

        .stocks-header {
            font-size: 3rem;
            padding: 1.2rem;

            @media only screen and (max-width: 768px) {
                font-size: 2rem;
            }

        }

        .card-container {
            .stocks-table {
                display: flex;
                flex-wrap: wrap;

                @media only screen and (max-width: 768px) {
                    justify-content: center;
                }

            }
        }
    }
}