.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    color: $secondary-bg;
    position: absolute;
    width: 100%;
    font-size: 2rem;
    top: -400px;

    div {
        padding: 0 1rem;
    }

    .logo {
        padding: 0 1rem;

        font-size: 3rem;

        span {
            text-decoration: line-through;

        }
    }

    .links {
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        .nav-links {
            margin: 0 1rem;
        }
    }

    .hamburger {
        display: none;
        cursor: pointer;
    }

    @media only screen and (max-width: 768px) {
        .hamburger {
            display: block;
        }

        .links {
            flex-direction: column;
            background-color: $primary-bg;
            color: $secondary-bg;
            transition: 0.4s ease-in-out all;
            position: absolute;
            left: calc(-100vh);
            top: calc(60px);
            opacity: 0;
            width: 0%;
            height: calc(100vh - 60px);
            align-items: flex-start;
            justify-content: flex-start;

            .nav-links {
                margin: 2rem 0;
                font-size: 6rem !important;

                @media only screen and (max-width: 600px) {

                    & {
                        font-size: 4rem !important;

                    }
                }


            }
        }

        .show {
            opacity: 1;
            z-index: 1000;
            top: calc(60px);
            height: calc(100vh - 60px);
            width: 100%;
            left: 0;
            align-items: flex-start;
            justify-content: flex-start;

            .nav-links {
                margin: 2rem 0;
                font-size: 6rem !important;

                @media only screen and (max-width: 600px) {

                    & {
                        font-size: 4rem !important;
                    }
                }

                @media only screen and (max-width: 400px) {

                    & {
                        font-size: 2.4rem !important;
                    }
                }
            }
        }
    }
}